body{
    font-family: 'roboto' , sans-serif;
}
.web{
    font-family: 'roboto' , sans-serif;
    color:blueviolet;
     
}
.mainbar{
    background-color: brown;
}
.hero .sort{
    background-color:aquamarine;
}
.whatwedo{
    background-color:pink;
}
.minisections{
    background-color: bisque;
}
.ourteam{
    background-color: blanchedalmond;
}


.nav-item > a:hover{
    color:orange;
}